[Unit]
Description=DNS Appliance cluster sync timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Unit=dns-appliance-sync.service

[Install]
WantedBy=timers.target
